/* 
 * 
 * Page Slide styles
 * http://srobbin.com/jquery-plugins/pageslide/
 * 
 */
#pageslide {
  /* These styles MUST be included. Do not change. */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  /* Specify the width of your pageslide here */
  width: 260px;
  padding: 20px;
  /* These styles are optional, and describe how the pageslide will look */
  background-color: #333;
  color: #FFF;
  -webkit-box-shadow: inset 0 0 5px 5px #222;
  -moz-shadow: inset 0 0 5px 5px #222;
  box-shadow: inset 0 0 5px 5px #222; }

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(../../img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -35px; }

.flex-direction-nav .flex-prev {
  left: -35px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: -35px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: -35px; }

.full-width .flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: 5px; }
.full-width .flex-direction-nav .flex-prev {
  left: 5px; }
.full-width .flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }
.full-width .flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 1075px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/* 
 * 
 * Homepage slideshow styles
 *
 */
.slideshow-wrapper .slides > li {
  position: relative;
  min-height: 600px; }
.slideshow-wrapper .text-wrapper {
  margin: 0 auto;
  width: 1240px;
  position: relative;
  height: 600px; }
.slideshow-wrapper .text-container {
  position: absolute;
  padding: 20px;
  background: rgba(250, 250, 250, 0.5); }
  .slideshow-wrapper .text-container.left-side {
    left: 0;
    top: 0;
    height: 100%;
    width: 40%; }
  .slideshow-wrapper .text-container.right-side {
    right: 0;
    top: 0;
    height: 100%;
    width: 40%; }
  .slideshow-wrapper .text-container.below {
    bottom: 0;
    width: 100%; }

/* 
* Drop menu styles 
*/
ul.dropmenu {
  /* 	float: left; */
  margin: 0px;
  padding: 0px;
  display: block;
  height: 44px;
  width: 100%;
  background: #000; }

.dropmenu li a, .dropmenu li {
  float: left;
  background: #000;
  color: #fff; }

.dropmenu li a:hover, .dropmenu li.open > a {
  color: #000;
  background: #fff; }

.dropmenu li {
  list-style: none;
  position: relative;
  top: 1px; }

.dropmenu li span {
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 12px;
  right: 10px; }

.dropmenu li a, .dropmenu li div {
  padding: 9px 30px 8px 15px;
  text-decoration: none; }

/* Submenu */
.dropmenu li > ul, .dropmenu li > div {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #CCCCCC;
  background: #fff; }

.dropmenu.css-only li:hover > ul, .dropmenu.css-only li:hover > div {
  display: block; }

.dropmenu li ul li, .dropmenu li ul li a {
  float: none;
  text-transform: none;
  /* 	text-decoration: underline; */ }

.dropmenu li ul li {
  /* 	display: inline;	 */ }

.dropmenu li > div {
  width: 200px; }

/* Sub submenu */
.dropmenu li ul li a {
  width: 150px;
  display: block;
  border: none; }

.dropmenu li ul li ul, .dropmenu li ul li > div {
  top: 0px;
  left: 101%; }

/* Content Images */
img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Header */
.site-tagline {
  text-align: right; }

.top-banner .social-menu {
  float: right; }

.navigation-post {
  overflow: hidden; }

/* Comments */
.comments-area {
  clear: both;
  margin-top: 30px; }

/* Sidebar Menu */
.widget_nav_menu li {
  display: none; }
.widget_nav_menu li.current_page_item, .widget_nav_menu .current-page-ancestor, .widget_nav_menu .current_page_parent {
  display: block; }
  .widget_nav_menu li.current_page_item ul, .widget_nav_menu li.current_page_item li, .widget_nav_menu li.current_page_item a, .widget_nav_menu .current-page-ancestor ul, .widget_nav_menu .current-page-ancestor li, .widget_nav_menu .current-page-ancestor a, .widget_nav_menu .current_page_parent ul, .widget_nav_menu .current_page_parent li, .widget_nav_menu .current_page_parent a {
    display: block; }

ul.tweet_list li + li {
  padding-top: 15px; }

.tab-content li {
  display: none; }

.st-content,
.st-content-inner {
  position: relative; }

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  background: white; }

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 66%;
  height: 100%;
  background: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: scroll;
  position: fixed;
  bottom: 0; }

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  color: #f3efe0; }

.st-menu ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #fff; }

.st-effect.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.st-effect.st-menu-open .st-effect.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.st-effect.st-menu::after {
  display: none; }

#mobile-nav .button {
  display: block; }
#mobile-nav li {
  clear: both;
  display: block; }
